.jobs-container {
  display: flex;

  background-color: #000;
  min-height: 100vh;
  color: #fff;
}

.profile-section {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  height: 30vh;
  border-radius: 10px;
  padding: 10px;
}
.profile-filter-section {
  width: 25%;
  padding: 20px;
}
.profile-section img {
  width: 70px;
}
.profile-name {
  font-size: 17px;
  color: #6366f1;
}
.profile-bio {
  font-size: 12px;
  color: #2c364c;
}
.jobs-section {
  width: 75%;
  padding: 20px;
}

.search-bar {
  display: flex;
  align-items: flex-start;
  border: 1px solid #64748b;
  margin-bottom: 20px;
}

.search-bar input {
  flex: 1;
  margin: 0;
  background: transparent;
  color: #fff;
}

.search-bar button {
  background-color: #272727;
  color: #fff;
  border: none;

  margin: 0;
  cursor: pointer;
}

.jobs-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}
