.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  height: 100vh;
  background-size: cover;
  margin: 0;
  padding: 0;
  color: #fff;
}
.home-content-container {
  margin: 12px;
  width: 60%;
  padding: 12px;
}
.heading {
  font-size: 54px;
}
.text {
  font-size: 24px;
}
.find-job-btn {
  padding: 14px;
  font-size: 18px;
  cursor: pointer;
}
