.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #272727;
  margin: 0;
  padding-left: 12px;
  padding-right: 12px;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  
  font-weight: 600;
}
.nav-item {
  padding: 6px;
}
.nav-link {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}
.website-logo-img-btn {
  cursor: pointer;
  background: transparent;
  border: none;
}
.logo-img {
  height: 5vh;
}
.logout-button {
  cursor: pointer;
  margin-left:35em ;
}
